$box-radius: 4px;
$max-width: 968px;
$header-height: 72px;
$footer-height: 70px;

$color-neutral-100: #FFF;
$color-neutral-90: #F3F3F3;
$color-neutral-70: #DADFE7;
$color-neutral-65: #CED2E0;
$color-neutral-60: #ADADAD;
$color-neutral-55: #999999;
$color-neutral-50: #939393;
$color-neutral-40: #515151;
$color-neutral-0: #000;

$color-secondary-55: #5D699A;
$color-secondary-50: #556295;
$color-secondary-40: #394782;
$color-secondary-30: #2E3D75;

$color-danger-50: red;