@import 'Styles/_variables.scss';

.box {
  padding: 20px 22px;
  background-color: $color-neutral-100;
  border-radius: $box-radius;
  border: 1px solid $color-neutral-70;
}

.box-no-padding {
  border-radius: $box-radius;
  border: 1px solid $color-neutral-70;
}