@import 'Styles/_variables.scss';

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-default {
  padding: 8px 30px;
  font-size: 0.9rem;
  color: $color-neutral-100;
  background-color: $color-secondary-55;
  border-radius: $box-radius;
  text-transform: uppercase;
}

.button-close {
  width: 24px;
  height: 24px;
  background-image: url(../images/close.png); 

  @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
      background-image: url(../images/close@2x.png);
  }
}