@import 'Styles/_variables.scss';

.wrapper {
  // 20px from padding, both will be calculated to a final number
  max-width: $max-width + 20px + 20px; 
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  font-size: 0.9rem;
  line-height: 1.4;
}