h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

h3 {
  font-size: 2rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  &,
  &:visited,
  &:focus,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

p {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}