@import 'Styles/_variables.scss';

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color-neutral-65;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $color-neutral-65;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $color-neutral-65;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  + fieldset {
    margin-top: 28px;
  }

  .error {
    margin-top: 5px;
    color: $color-danger-50;
  }
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $color-neutral-60;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea {
  @extend .box-no-padding;
  padding: 12px 16px;
  font-size: 0.9rem;
}

input[type="text"],
input[type="password"],
input[type="search"] {
  min-width: 334px;
}

textarea {
  width: 100%;
  resize: vertical;
}