@import 'Styles/_variables.scss';

*,
html,
body {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $color-neutral-40;
}

@import 'Styles/elements.scss';
@import 'Styles/form.scss';
@import 'Styles/content.scss';
@import 'Styles/buttons.scss';
@import 'Styles/box.scss';