<template>
  <div class="app" :style="{ backgroundColor }">
    <Header />
    <div class="wrapper">
      <Breadcrumb />
      <div class="content-wrapper">
        <Sidebar />
        <div class="content">
          <router-view />
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Vue from 'vue';
import Header from 'Components/Header.vue';
import Footer from 'Components/Footer.vue';
import Breadcrumb from 'Components/Breadcrumb.vue';
import Sidebar from 'Components/Sidebar.vue';

export default Vue.extend({
  data() {
    return {
      backgroundColor: '#fff'
    }
  },
  created() {
    this.$store.subscribe((mutation, state) => {
      // is it the right mutation??
      if (mutation.type !== 'theme/setBackground') {
        return;
      }

      // cache the color
      this.backgroundColor = state.theme.backgroundColor;
    });
  },

  components: {
    Header,
    Footer,
    Breadcrumb,
    Sidebar,
  },
});
</script>

<style lang="scss">
@import 'Styles/_variables.scss';

.app {
  transition: background-color 0.75s ease;
  
  > .wrapper {
    padding-top: 20px;
    min-height: calc(100vh - #{$footer-height + $header-height});

    .breadcrumb {
      // DEV: we set the padding on and remove the margin
      //      so we can set easily the min height because of
      //      the footer positioning
      margin-top: 0;
    }
  }
}

.content-wrapper {
  display: flex;
  align-items: flex-start;

  .sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    width: 222px;

    + .content {
      flex-grow: 1;
      margin-left: 22px;
    }
  }
}
</style>
