<template>
  <div class="content content-company-page">
    <div class="columns company-page-header">
      <div class="box company-logo"></div>
      <div class="company-details">
        <h3 class="company-name">Microsoft</h3>
        <!-- TODO: missing the icon -->
        <div class="company-location">Redmond, WA USA</div>
      </div>
    </div>
    <div class="company-page-body">
      <!-- DEV: we don't want to break the line because of max-len -->
      <!-- eslint-disable-next-line max-len -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis enim at congue fringilla. Vivamus ac tempus purus. Mauris porttitor pulvinar tristique.</p>
      <div class="columns">
        <div class="column">
          <div class="box company-block">
            <div class="company-block-title">Activities</div>
            <ul class="company-block-list company-block-list-activities">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="box company-block">
            <div class="company-block-title">Similar companies</div>
            <ul class="company-block-list">
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="box company-block">
            <div class="company-block-title">Company spend history</div>
            <div class="company-block-graph"></div>
          </div>
          <div class="box company-block">
            <div class="company-block-title">Company spend history</div>
            <ul class="company-block-list">
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  mounted() {
    const routes = [
      // TODO: maybe a better way would be getting this from the router itself,
      //       at the least the routes, I would still do the array for the flexibility
      { name: 'Home', path: '/' },
      { name: 'Company page', path: '/company-page' },
    ];

    // update the breadcrumb
    this.$store.dispatch('breadcrumb/set', routes);

    // update the color of the app for the company page
    this.$store.dispatch('theme/setBackground', '#E7E9F3');
  },
  beforeDestroy() {
    // update the color of the app to what it was before
    this.$store.dispatch('theme/unsetBackground');
  }
});
</script>

<style lang="scss" scoped>
@import 'Styles/_variables.scss';

.columns {
  display: flex;

  .column {
    width: 50%;

    + .column {
      margin-left: 16px;
    }
  }
}

.company-page-header {
  align-items: center;

  + .company-page-body {
    margin-top: 24px;
  }
}

.company-logo {
  flex-grow: 0;
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  margin-right: 16px;
}

.company-location {
  font-size: 0.75rem;
  color: $color-neutral-55;
}

.company-block {
  + .company-block {
    margin-top: 16px;
  }
}

.company-block-title {
  display: block;
  margin-bottom: 4px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $color-neutral-60;
}

.company-page-body {
  p + .columns {
    margin-top: 24px;
  }
}
</style>
