<template>
  <div class="box content content-company-data">
    <!-- DEV: we don't want to break the line because of max-len -->
    <!-- eslint-disable-next-line max-len -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis enim at congue fringilla. Vivamus ac tempus purus. Mauris porttitor pulvinar tristique.</p>
    <form
      id="company-data-form"
      v-on:submit="onSubmit"
    >
      <fieldset>
        <label for="company-name">Company name</label>
        <input
          v-model.trim="$v.companyName.$model"
          @blur="$v.companyName.$touch()"
          name="company-name"
          type="text"
          placeholder="e.g. Your Company Name"
        >
        <div
          v-if="$v.companyName.$anyDirty && !$v.companyName.required"
          class="error"
        >
          Field is required
        </div>
      </fieldset>
      <fieldset>
        <label for="company-spend">Company spend</label>
        <input
          v-model.trim="$v.companySpend.$model"
          @blur="onChangeCompanySpend"
          name="company-spend"
          type="text"
          placeholder="e.g. $150,000"
        >
      </fieldset>
      <fieldset>
        <label for="company-spend-ability">Company spend ability</label>
        <input
          v-model.trim="$v.companySpendAbility.$model"
          @blur="onChangeCompanySpendAbility"
          name="company-spend-ability"
          type="text"
          placeholder="e.g. $150,000 - $330,000"
        >
      </fieldset>
      <fieldset>
        <label for="notes">Notes</label>
        <textarea
          v-model.trim="$v.notes.$model"
          @focus="onShowModal()"
          name="notes"
          placeholder="e.g. Good Tech Company"
        />
      </fieldset>
    </form>
    <ModalNotes
      v-if="isNotesModal"
      @close="onCloseModal"
      :originalNotes="notes"
    />
  </div>
</template>

<script>
import Vue from 'vue';
import { required } from 'vuelidate/lib/validators';
import ModalNotes from 'Components/ModalNotes.vue';

export default Vue.extend({
  components: {
    ModalNotes,
  },
  data() {
    return {
      errors: [],
      isNotesModal: false,

      companyName: '',
      companySpend: '',
      companySpendAbility: '',
      notes: '',
    };
  },
  validations: {
    companyName: { required },
    companySpend: {},
    companySpendAbility: {},
    notes: {},
  },
  mounted() {
    const routes = [
      // TODO: maybe a better way would be getting this from the router itself,
      //       at the least the routes, I would still do the array for the flexibility
      { name: 'Home', path: '/' },
      { name: 'Company data', path: '/company-data' },
    ];

    this.$store.dispatch('breadcrumb/set', routes);
  },
  methods: {
    // handles when a click to show modal happens
    onShowModal() {
      this.isNotesModal = true;
    },

    // handles when a close to show modal happens
    onCloseModal(note) {
      // DEV: note will be null / undefined if a simple close happened
      this.isNotesModal = false;
      this.notes = note;
    },

    // handles a change on company spend
    // DEV: should be only positive numbers and should format number to be a currency
    onChangeCompanySpend() {
      // remove extra characters not needed for the parsing
      let newValue = this.companySpend.replace(/[^0-9.]/g, '');

      // lets parse the value into a number
      try {
        newValue = parseInt(newValue, 10);

        if (Number.isNaN(newValue)) {
          throw new Error('invalid number');
        }

        // handle the decimals
        newValue = newValue.toFixed(2);

        // setup the comma every set of digits
        newValue = newValue.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // set the final value
        newValue = `$${newValue}`;
      } catch (err) {
        // this means a non valid input was set
        newValue = '';
      }

      this.companySpend = newValue;

      // make sure the validation runs
      this.$v.companySpend.$touch();
    },

    // handles a change on company spend ability
    // DEV: accepts two inputs, the first one is the Minimum spend and the second is Maximum spend.
    //       It validates based on the relation between the two inputs, minimum spend shouldn’t be
    //       larger than maximum spend.
    onChangeCompanySpendAbility() {
      const values = this.companySpendAbility.split('-').filter(val => val.length > 0);
      let newValue = '';

      if (values.length >= 2) {
        // remove extra characters not needed for the parsing
        let min = values[0].replace(/[^0-9.]/g, '');
        let max = values[1].replace(/[^0-9.]/g, '');

        // lets parse the values into numbers
        try {
          min = parseInt(min, 10);
          max = parseInt(max, 10);

          if (Number.isNaN(min) || Number.isNaN(max)) {
            throw new Error('invalid number');
          }

          // handle the decimals
          min = min.toFixed(2);
          max = max.toFixed(2);

          // make sure the minimum doesn't surpass the maximum
          if (max < min) {
            const tmp = min;
            min = max;
            max = tmp;
          }

          // setup the comma every set of digits
          min = min.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
          max = max.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

          // set the final value
          newValue = `$${min} - $${max}`;
        } catch (err) {
          // this means a non valid input was set
          newValue = '';
        }
      }

      this.companySpendAbility = newValue;

      // make sure the validation runs
      this.$v.companySpendAbility.$touch();
    },

    // handles the submit form
    onSubmit(evt) {
      evt.preventDefault();

      // making sure all is validated
      this.$v.$touch();

      if (this.$v.$invalid) {
        // TODO: what to do on error?

      }

      // TODO: handle the submit;
    },
  },
});
</script>

<style lang="scss" scoped>
@import 'Styles/_variables.scss';

textarea {
  height: 158px;
}

p + form {
  margin-top: 30px;
}
</style>
