<template>
  <div class="content content-home">
    <p>Welcome!</p>
  </div>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  mounted() {
    const routes = [
      // TODO: maybe a better way would be getting this from the router itself,
      //       at the least the routes, I would still do the array for the flexibility
      { name: 'Home', path: '/' },
    ];

    this.$store.dispatch('breadcrumb/set', routes);
  },
});
</script>

<style lang="scss" scoped>
</style>
