<template>
  <ul class="breadcrumb">
    <router-link
      v-for="route in routes"
      :key="route.name"
      v-slot="props"
      :to="route.path"
    >
      <li :class="[props.isActive && 'is-active', props.isExactActive && 'exact-active']">
        <a
          :href="props.href"
          @click="props.navigate"
        >{{ route.name }}</a>
      </li>
    </router-link>
  </ul>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  data() {
    return {
      routes: [],
    };
  },
  created() {
    this.$store.subscribe((mutation, state) => {
      // is it the right mutation??
      if (mutation.type !== 'breadcrumb/set' && mutation.type !== 'breadcrumb/empty') {
        return;
      }

      // cache the routes
      this.routes = state.breadcrumb.list;
    });
  },
});
</script>

<style lang="scss" scoped>
@import 'Styles/_variables.scss';

.breadcrumb {
  margin: 20px 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $color-neutral-50;

  li {
    display: inline-block;

    + li {
      &::before {
        content: "/";
        margin-left: 8px;
        margin-right: 9px;
      }
    }
  }
}
</style>
