<template>
  <footer>
    <div class="wrapper" />
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import 'Styles/_variables.scss';

footer {
  // TODO: better check this afterwards with paddings and so on
  height: $footer-height;
  background-color: $color-neutral-90;
}
</style>
