<template>
  <header>
    <div class="wrapper" />
  </header>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import 'Styles/_variables.scss';

header {
  // TODO: better check this afterwards with paddings and so on
  height: $header-height;
  background-color: $color-secondary-40;
}
</style>
