<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="box modal-container">
          <div class="modal-header">
            <slot name="header" />
            <button
              @click="onClose(true)"
              class="button button-close"
            />
          </div>
          <div class="modal-body">
            <slot name="body">
              <fieldset>
                <label for="notes">Additional notes</label>
                <textarea
                  ref="notes"
                  v-model="notes"
                  name="notes"
                  placeholder="e.g. Good Tech Company"
                />
              </fieldset>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button
                @click="onClose()"
                class="modal-default-button button button-default"
              >
                Save
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  props: {
    originalNotes: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      notes: '',
    };
  },
  mounted() {
    this.notes = this.originalNotes;

    this.$refs.notes.focus();
  },
  methods: {
    onClose(canceled) {
      if (canceled) {
        this.$emit('close', this.originalNotes);
        return;
      }

      this.$emit('close', this.notes);
    },
  },
});
</script>

<style lang="scss" scoped>
@import 'Styles/_variables.scss';
@import 'Styles/box.scss';

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-neutral-0, 0.25);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  @extend .box;

  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba($color-neutral-0, 0.33);
  transition: all .3s ease;

  label {
    margin-bottom: 18px;
  }

  textarea {
    min-height: 166px;
  }
}

.modal-header {
  position: relative;

  .button-close {
    position: absolute;
    top: -6px;
    right: -6px;
  }
}

.modal-footer {
  text-align: right;
}

.modal-body {
  + .modal-footer {
    margin-top: 28px;
  }
}
</style>
