<template>
  <ul class="box-no-padding sidebar">
    <router-link
      v-for="route in menu"
      :key="route.name"
      v-slot="props"
      :to="route.path"
    >
      <li :class="[props.isActive && 'is-active', props.isExactActive && 'exact-active']">
        <a
          :href="props.href"
          @click="props.navigate"
        >{{ route.name }}</a>
      </li>
    </router-link>
  </ul>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  data() {
    return {
      menu: [
        { name: 'Company data', path: '/company-data' },
        { name: 'Company table', path: '/company-table' },
        { name: 'Company page', path: '/company-page' },
      ]
    }
  }
});
</script>

<style lang="scss" scoped>
@import 'Styles/_variables.scss';

.sidebar {
  font-size: 0.75rem;
  text-transform: uppercase;

  li {
    color: $color-secondary-50;
    background-color: $color-neutral-100;

    &.is-active {
      color: #000;
      border-left: 3px solid $color-secondary-30;

      a {
        // DEV: remove the 3px from the border
        padding-left: 19px;
      }
    }

    + li {
      border-top: 1px solid $color-neutral-70;
    }
  }

  a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 62px;
    padding-left: 22px;
  }
}
</style>
